.about__grid {
  max-width: 1100px;
  margin: 0 auto;
}

.myImage__container {
  text-align: center;
}

.myImage__about {
  width: 32%;
  border-radius: 50%;
  float: right;
  shape-outside: circle();
  padding-left: 1rem;
}

@media (max-width: 800px) {
  .myImage__about {
    width: 52%;
    border-radius: 50%;
    float: none;
    margin-bottom: 1rem;
  }
  .myImage__container {
    margin: 0 auto;
  }
  .about__grid {
    text-align: center;
  }
}
